.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  width: 194px;
  height: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .footer__copyright {
    width: 194px;
    height: 16px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    width: 194px;
    height: 14px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
  }
}
