.lead__title {
  position: absolute;
  width: 720px;
  height: 200px;
  left: 280px;
  padding-top: 194px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: #ffffff;
}

.lead__subtitle {
  position: absolute;
  width: 720px;
  height: 72px;
  left: 280px;
  top: 426px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

.lead__image {
  position: absolute;
  width: 984px;
  height: 615px;
  left: 148px;
  top: 562px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    position: absolute;
    width: 530px;
    height: 158px;
    left: 119px;
    padding-top: 186px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 75px;
    line-height: 79px;
    text-align: center;
    color: #ffffff;
  }

  .lead__subtitle {
    position: absolute;
    width: 720px;
    height: 72px;
    left: 24px;
    top: 369px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
  }

  .lead__image {
    position: absolute;
    width: 768px;
    height: 480px;
    left: 0px;
    top: 471px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    position: absolute;
    width: 228px;
    height: 88px;
    left: 46px;
    padding-top: 122px;
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    color: #ffffff;
  }

  .lead__subtitle {
    position: absolute;
    width: 288px;
    height: 40px;
    left: 16px;
    top: 226px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }

  .lead__image {
    position: absolute;
    width: 320px;
    height: 200px;
    left: 0px;
    top: 306px;
  }
}
