.page {
  height: 100%;
  width: 100%;
  background-color: #2a2c2f;
  font-family: "Inter";
  margin: auto;
  padding-top: 34px;
}

@media screen and (max-width: 768px) {
  .page {
    padding-top: 30px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding-top: 20px;
  }
}
