.page {
  height: 2008px;
  width: 100%;
  background-color: #2a2c2f;
  font-family: "Inter";
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .page {
    width: 768px;
    height: 1742px;
    background-color: #2a2c2f;
  }
}

@media screen and (max-width: 320px) {
  .page {
    width: 320px;
    height: 1705px;
    background-color: #2a2c2f;
  }
}
